.burger__menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF8F0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Оставляем для распределения */
    align-items: center;
    padding-bottom: 0; /* Убираем лишний padding */
    box-sizing: border-box; /* Учитываем padding в высоте */
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.button_close {
    cursor: pointer;
    font-family: "Noto Sans";
    color: #191919;
    border-bottom: 1px solid #191919;
    font-weight: 400;
    font-size: 24px;
    padding: 2px 10px;
}

.button_close::after {
    content: " ×";
    margin-left: 5px;
    font-size: 27px;
    line-height: 1;
}

.burger__menu__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Убираем flex-grow: 1, чтобы nav не растягивался */
    padding-bottom: 40px; /* Добавляем отступ снизу через padding */
}

.nav__menu__item {
    text-align: center;
}

.nav__menu__item a {
    cursor: pointer;
    font-family: "Noto Sans";
    font-size: 96px;
    font-weight: bold;
    color: #191919;
    text-decoration: none;
    line-height: 1;
}

.nav__menu__item span {
    font-weight: 300;
    font-style: italic;
    font-size: 0.5em;
    vertical-align: super;
    text-transform: uppercase;
}

.nav__menu__item:not(:last-child) {
    margin-bottom: 20px;
}

.burger__menu__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.burger__menu__footer__copyright {
    font-family: "Fira Sans";
    font-weight: 300;
    font-size: 14px;
    color: #191919;
}

.burger__menu__footer__links ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer__links__item {
    text-decoration: underline;
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 20px;
    color: #191919;
}