.header {
    width: 100%;
    background: transparent;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 0 0.625em;
}

.navigation {
    display: flex;
}