.headerWrap {
	width: 100%;
	background: transparent;

	.headerContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5em 0 0.625em;

		.navigationWrap {
			display: flex;
			align-items: center;
		}
	}
}
