.workWrapper {
	color: var(--floral-white);

	&__companyName {
		line-height: 130%;
		font-size: clamp(10px, 0.94vw, 24px);
		text-transform: uppercase;
	}
	&__title {
		line-height: 130%;
		font-size: clamp(24px, 2.41vw, 62px);
	}

	&_large {
		width: 58%;
	}
	&_small {
		flex-grow: 1;
	}
}

.imageContainer {
	position: relative;
	margin-bottom: 26px;
	height: clamp(199px, 25.95vw, 664px);
	&__chips {
		position: absolute;
		z-index: 1;
		right: 61px;
		top: 61px;
		color: var(--eerie-black);
		font-size: clamp(12px, 1.02vw, 26px);
		padding: 27px 56px;
		background-color: var(--floral-white);
	}
}

@media (max-width: 1921px) {
	.workWrapper {
		&_large {
			width: 57.8%;
		}
	}

	.imageContainer {
		margin-bottom: 20px;
		&__chips {
			padding: 20px 43px;
			right: 46px;
			top: 46px;
		}
	}
}

@media (max-width: 1441px) {
	.workWrapper {
		&__companyName {
			font-size: clamp(10px, 1.02vw, 14px);
		}
		&__title {
			font-size: clamp(24px, 2.36vw, 34px);
		}
		&_large {
			width: 57.7%;
		}
	}

	.imageContainer {
		margin-bottom: 15px;
		&__chips {
			padding: 15px 32px;
			right: 35px;
			top: 35px;
		}
	}
}

@media (max-width: 1171px) {
	.workWrapper {
		&_large {
			width: 57.5%;
		}
	}
	.imageContainer {
		margin-bottom: 12px;
		&__chips {
			font-size: clamp(12px, 1.2vw, 14px);
			padding: 12px 26px;
			right: 28px;
			top: 28px;
		}
	}
}

@media (max-width: 1025px) {
	.workWrapper {
		&__title {
			font-size: clamp(20px, 2.34vw, 24px);
		}
	}
	.imageContainer {
		margin-bottom: 10px;
		&__chips {
			padding: 10px 22px;
			right: 24px;
			top: 24px;
		}
		&__image {
			max-height: 265px;
			height: 100%;
		}
	}
}

@media (max-width: 769px) {
	.workWrapper {
		&__companyName {
			font-size: 12px;
		}
		&_large {
			width: 56.7%;
		}
	}
	.imageContainer {
		margin-bottom: 8px;
		&__chips {
			font-size: 14px;
			padding: 9px 18px;
			right: 18px;
			top: 18px;
		}
	}
}
