.badConnectWrap {
	width: 93.7vw;
	margin: 0 auto;
}

.badConnectContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: normal;
	color: var(--eerie-black);

	&__image {
		margin-bottom: 30px;
		width: clamp(340px, 33.1vw, 980px);
	}

	&__title {
		font-size: clamp(52px, 5.2vw, 130px);
		font-weight: 700;
	}

	&__description {
		font-size: 36px;
		font-weight: 300;
	}
}
.restartButton {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 1px solid var(--eerie-black);
	padding: 26px 0;
	gap: 14px;
	width: 28%;
	margin-top: 120px;
	&__text {
		font-size: clamp(14px, 1.3vw, 32px);
		font-weight: 500;
		text-transform: uppercase;
	}
	&__icon {
		width: clamp(30px, 2.5vw, 64px);
		height: clamp(30px, 2.5vw, 64px);
	}
	margin-bottom: 77px;
}
.bottomText {
	align-self: flex-start;
}

@media (max-width: 1921px) {
	.badConnectWrap {
		width: 92vw;
	}
	.badConnectContainer {
		display: flex;

		&__image {
			margin-bottom: 30px;
		}

		&__description {
			font-size: 32px;
		}
	}
	.restartButton {
		padding: 19px 0;
		gap: 10px;
		margin-top: 86px;
		margin-bottom: 58px;
	}
}

@media (max-width: 1441px) {
	.badConnectWrap {
		width: 90vw;
	}
	.badConnectContainer {
		display: flex;

		&__image {
			margin-bottom: 20px;
		}

		&__description {
			font-size: 30px;
		}
	}
	.restartButton {
		width: 29%;
		padding: 14px 0;
		gap: 8px;
		margin-top: 68px;
		margin-bottom: 44px;
	}
}

@media (max-width: 1171px) {
	.badConnectWrap {
		width: 86vw;
	}
	.badConnectContainer {
		display: flex;

		&__image {
			margin-bottom: 27px;
		}

		&__description {
			font-size: 24px;
		}
	}
	.restartButton {
		width: 30%;
		padding: 12px 0;
		gap: 6px;
		margin-top: 54px;
		margin-bottom: 33px;
	}
}

@media (max-width: 1025px) {
	.badConnectWrap {
		width: 92vw;
	}
	.badConnectContainer {
		display: flex;

		&__image {
			margin-bottom: 12px;
		}

		&__description {
			font-size: 18px;
		}
	}
	.restartButton {
		width: 32%;
		margin-top: 40px;
		margin-bottom: 16px;
	}
}

@media (max-width: 769px) {
	.badConnectWrap {
		width: 93.8vw;
	}
	.badConnectContainer {
		display: flex;

		&__image {
			margin-bottom: 28px;
			width: 54%;
		}
		&__title {
			font-size: 60px;
		}

		&__description {
			font-size: 24px;
		}
	}
	.restartButton {
		width: 42%;
		margin-top: 55px;
		margin-bottom: 178px;
	}
}
