.buttonTransparent {
	color: var(--floral-white);
	background-color: transparent;
	border: 1px solid var(--floral-white);
}

.buttonDark {
	color: var(--floral-white);
	background-color: var(--eerie-black);
}

.buttonLight {
	color: var(--eerie-black);
	background-color: var(--floral-white);
}
