.worksPageWrapper {
	// width: 100%;
	background-color: var(--eerie-black);
	min-height: 100vh;
}

.worksPageContainer {
	margin: 0 auto;
	width: 93.75vw;
	&__imageTitle {
		margin: 190px 0 210px 0;
	}
}
.backButton {
	margin-top: 42px;
}
.worksFilterWrapper {
	display: flex;
	gap: 26px;

	button {
		font-size: 26px;
		font-size: clamp(12px, 1.02vw, 26px);
		padding: 28px 58px;
	}
}

.worksListWrapper {
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding: 80px 0 135px;
}

.worksListContainer {
	display: flex;
	gap: 20px;
	&_reverse {
		flex-direction: row-reverse;
	}
}

.workWrapper {
	color: var(--floral-white);
	&__companyName {
		line-height: 130%;
		font-size: clamp(10px, 0.94vw, 24px);
		text-transform: uppercase;
	}
	&__title {
		line-height: 130%;
		font-size: clamp(24px, 2.41vw, 62px);
	}
}
.imageContainer {
	position: relative;
	margin-bottom: 26px;
	&__chips {
		position: absolute;
		right: 61px;
		top: 61px;
		color: var(--eerie-black);
		font-size: clamp(12px, 1.02vw, 26px);
		padding: 27px 56px;
		background-color: var(--floral-white);
	}
}
@media (max-width: 1921px) {
	.worksPageContainer {
		width: 91.7vw;
		&__imageTitle {
			margin: 144px 0 158px 0;
			aspect-ratio: 1760 / 367;
		}
	}
	.backButton {
		margin-top: 32px;
	}

	.worksFilterWrapper {
		gap: 20px;
		button {
			padding: 20px 43px;
		}
	}
	.worksListWrapper {
		gap: 40px;
	}

	.imageContainer {
		margin-bottom: 20px;
		&__chips {
			padding: 20px 43px;
			right: 46px;
			top: 46px;
		}
		&__image {
			&_large {
				aspect-ratio: 1018 / 498;
			}
			&_small {
				aspect-ratio: 722 / 498;
			}
		}
	}
}

@media (max-width: 1441px) {
	.worksPageContainer {
		width: 88.8vw;
		&__imageTitle {
			margin: 107px 0 118px 0;
			aspect-ratio: 1280 / 276;
		}
	}

	.backButton {
		margin-top: 22px;
	}
	.worksFilterWrapper {
		gap: 15px;
		button {
			padding: 15px 32px;
		}
	}

	.worksListWrapper {
		gap: 28px;
	}

	.workWrapper {
		color: var(--floral-white);
		&__companyName {
			font-size: clamp(10px, 1.02vw, 14px);
		}
		&__title {
			font-size: clamp(24px, 2.36vw, 34px);
		}
	}

	.imageContainer {
		margin-bottom: 15px;
		&__chips {
			padding: 15px 32px;
			right: 35px;
			top: 35px;
		}
		&__image {
			&_large {
				aspect-ratio: 738 / 373;
			}
			&_small {
				aspect-ratio: 522 / 373;
			}
		}
	}
}

@media (max-width: 1171px) {
	.worksPageContainer {
		width: 86.3vw;
		&__imageTitle {
			margin: 84px 0 96px 0;
			aspect-ratio: 1010 / 224;
		}
	}
	.backButton {
		margin-top: 26px;
	}

	.worksFilterWrapper {
		gap: 12px;
		button {
			font-size: clamp(12px, 1.2vw, 14px);
			padding: 12px 26px;
		}
	}

	.worksListWrapper {
		gap: 22px;
	}

	.imageContainer {
		margin-bottom: 12px;
		&__chips {
			font-size: clamp(12px, 1.2vw, 14px);
			padding: 12px 26px;
			right: 28px;
			top: 28px;
		}
		&__image {
			&_large {
				aspect-ratio: 581 / 303;
			}
			&_small {
				aspect-ratio: 409 / 303;
			}
		}
	}
}

@media (max-width: 1025px) {
	.worksPageContainer {
		width: 92.14vw;
		&__imageTitle {
			margin: 73px 0 85px 0;
			aspect-ratio: 944 / 196;
		}
	}
	.backButton {
		margin-top: 20px;
	}

	.worksFilterWrapper {
		gap: 10px;
		button {
			padding: 10px 22px;
		}
	}

	.worksListWrapper {
		// gap: 20px;
	}

	.imageContainer {
		margin-bottom: 10px;
		&__chips {
			padding: 10px 22px;
			right: 24px;
			top: 24px;
		}
		&__image {
			// max-height: 265px;
			&_large {
				aspect-ratio: 542 / 265.6;
			}
			&_small {
				aspect-ratio: 382 / 265.6;
			}
		}
	}
}
