.worksPageWrapper {
	background-color: var(--eerie-black);
	min-height: 100vh;
}

.worksPageContainer {
	margin: 0 auto;
	width: 93.75vw;
	&__imageTitle {
		margin: 190px 0 210px 0;
	}
}
.backButton {
	margin-top: 42px;
}
.worksFilterWrapper {
	display: flex;
	gap: 26px;

	button {
		font-size: 26px;
		font-size: clamp(12px, 1.02vw, 26px);
		padding: 28px 58px;
	}
}

.worksListWrapper {
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding: 80px 0 135px;
}

.worksListContainer {
	display: flex;
	gap: 20px;
	&_reverse {
		flex-direction: row-reverse;
	}
}

@media (max-width: 1921px) {
	.worksPageContainer {
		width: 91.7vw;
		&__imageTitle {
			margin: 144px 0 158px 0;
			aspect-ratio: 1760 / 367;
		}
	}
	.backButton {
		margin-top: 32px;
	}

	.worksFilterWrapper {
		gap: 20px;
		button {
			padding: 20px 43px;
		}
	}
	.worksListWrapper {
		gap: 40px;
		padding: 60px 0 125px;
	}
}

@media (max-width: 1441px) {
	.worksPageContainer {
		width: 88.8vw;
		&__imageTitle {
			margin: 107px 0 118px 0;
			aspect-ratio: 1280 / 276;
		}
	}

	.backButton {
		margin-top: 22px;
	}
	.worksFilterWrapper {
		gap: 15px;
		button {
			padding: 15px 32px;
		}
	}

	.worksListWrapper {
		gap: 28px;
		padding: 45px 0 87px;
	}
}

@media (max-width: 1171px) {
	.worksPageContainer {
		width: 86.3vw;
		&__imageTitle {
			margin: 84px 0 96px 0;
			aspect-ratio: 1010 / 224;
		}
	}
	.backButton {
		margin-top: 26px;
	}

	.worksFilterWrapper {
		gap: 12px;
		button {
			font-size: clamp(12px, 1.2vw, 14px);
			padding: 12px 26px;
		}
	}

	.worksListWrapper {
		gap: 22px;
		padding: 37px 0 73px;
	}
}

@media (max-width: 1025px) {
	.worksPageContainer {
		width: 92.14vw;
		&__imageTitle {
			margin: 73px 0 85px 0;
			aspect-ratio: 944 / 196;
		}
	}
	.backButton {
		margin-top: 20px;
	}
	.worksFilterWrapper {
		gap: 10px;
		button {
			padding: 10px 22px;
		}
	}
	.worksListWrapper {
		padding: 32px 0 65px;
	}
}

@media (max-width: 769px) {
	.worksPageContainer {
		width: 94.8vw;
		&__imageTitle {
			margin: 9px 0 46px 0;
			aspect-ratio: 728 / 147;
		}
	}
	.worksFilterWrapper {
		gap: 8px;
		button {
			font-size: 14px;
			padding: 9px 18px;
		}
	}
	.worksListWrapper {
		padding: 30px 0 46px;
	}
}
