.menuButton {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
.hamburger {
  width: 6.25em;
  height: 6.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
  
.hamburgerLine {
  display: block;
  width: 3.401em;
  height: 0.125em;
  background-color: white;
}

.hamburgerLine:not(:last-child) {
  margin-bottom: 1.379em;
}
  
.hamburgerLine:last-child {
  margin-bottom: 0;
}