:root {
	--pure-white: #ffffff;
	--pure-black: #171717;
	--primary-color: #fff8f0;
	--text-font-family: "Noto Sans", "Segoe UI", roboto, verdana, tahoma, sans-serif;
	--eerie-black: #191919;
	--floral-white: #fff8f0;
	--dark-silver: #6e6e6e;
	--jazzberry-jam: #b4015e;
	--mexican-pink: #e6007e;
	--chinese-silver: #c7c7c7;
	--chinese-silver-shadow: #c7c7c780;
	--philippine-gray: #919191;
	--gray-medium: #b6b6b6;
	--gray-dark: #6e6e6e;
	--pink-dark: #b4015e;
	--shadow-pink: #e6007e80;
	--modal-black: #00000080;
	--submit-background: #c3c3c3;
	--submit-active: #30ba55;
}

.hidden {
	display: none;
}

@mixin adaptive-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;

	@media (max-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}

	@media (min-width: 768px) {
		font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}
