.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
	padding: 0 5rem;
	position: relative;
	z-index: 1;
}

.page {
	background-color: var(--floral-white);
	position: relative;
	z-index: -500;
}
