.vector-letter {
	&__text {
		font-family: var(--text-font-family), serif;;
		font-weight: 900;
		font-size: 7.375em;
		fill: var(--primary-color);
	}
}

.vector-letter--shadow {
	display: block;
	text-shadow: 0.5em 0.5em 0 rgba(230, 0, 126, 0.5);
}
