.letsTalk__container {
	background: transparent;
	padding: 1.654em 4.203em 1.596em;
	margin-right: 2.5em;

	.letsTalk {
		color: white;
		font-weight: var(--text-font-weight-small);
		font-size: 2.206em;
		font-family: var(--text-font-family), serif;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		border-bottom: 0.125em solid white;
		background: transparent;
	}
}
