.letsTalk__container {
    background: transparent;
    padding: 1.154em 4.203em  1.5em;
    margin-right: 2.5em;
    border: 1px solid #fff8f0;

    .letsTalk {
        color: white;
        font-weight: 400;
        font-size: 2.206em;
        font-family: "Noto Sans", sans-serif;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        border-bottom: 0.125em solid white;
        background: transparent;
    }
}
