.controlButtons {
	display: flex;
	justify-content: space-between;

	&__btn {
		display: flex;
		align-items: center;
		gap: 80px;
		border-bottom: 1px solid var(--eerie-black);
		border-top: 1px solid var(--eerie-black);
		padding: 25px 0;
		font-family: var(--font-noto-sans);
		width: 100%;
		font-weight: 400;
		font-size: clamp(18px, 1.7vw, 42px);
		line-height: 130%;
		background-color: transparent;

		&_viewAll {
			flex-shrink: 0;
			text-decoration: underline;
			justify-content: center;
			color: var(--floral-white);
			width: 24.12%;
			background-color: var(--eerie-black);
		}

		&_left {
			justify-content: end;
			padding-right: 120px;
		}

		&_right {
			justify-content: start;
			padding-left: 120px;
		}
	}
}

@media (max-width: 1921px) {
	.controlButtons {
		&__btn {
			gap: 60px;
			padding: 18px 0;

			&_left {
				padding-right: 90px;
			}

			&_right {
				padding-left: 90px;
			}
		}
	}

	.controlButtons__arrow {
		height: 14px;
	}
}

@media (max-width: 1441px) {
	.controlButtons {
		&__btn {
			gap: 45px;
			padding: 14px 0;

			&_left {
				padding-right: 68px;
			}

			&_right {
				padding-left: 68px;
			}
		}
	}

	.controlButtons__arrow {
		height: 11px;
	}
}

@media (max-width: 1171px) {
	.controlButtons {
		&__btn {
			gap: 36px;
			padding: 11px 0;

			&_left {
				padding-right: 55px;
			}

			&_right {
				padding-left: 55px;
			}
		}
	}

	.controlButtons__arrow {
		height: 9px;
	}
}

@media (max-width: 1025px) {
	.controlButtons {
		&__btn {
			gap: 32px;
			padding: 9px 0;

			&_left {
				padding-right: 48px;
			}

			&_right {
				padding-left: 48px;
			}
		}
	}

	.controlButtons__arrow {
		height: 8px;
	}
}
