.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 2560px;
    width: 100vw;
    margin: 0 auto;
    background: linear-gradient(135deg, #FF2E63 0%, #FF5733 100%);
}

.banner__container {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.banner__left-block {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 3em;
    max-width: 585px;
    align-self: flex-start;
}

.banner__left-text {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 2.688em;
    color: #FFF8F0;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
}

.banner__right-block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 955px;
    align-self: flex-start;
    margin-left: 11em;
}

.banner__right-text {
    display: flex;
    align-self: flex-start;
}