.supportButtonWrapper {
	.supportButtonContainer {
		background-color: #1ed760;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&__iconElement {
			width: 2.5rem;
			height: 2.333rem;
			color: var(--primary-color);
		}
	}
}
